## 1) Write a python program to display all the header tags from wikipedia.org .

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def headers(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content)
    titles = (i.text.strip() for i in bs.find_all(['h1', 'h2','h3','h4','h5','h6']))
    df = pd.DataFrame({'Headers': titles})
    print(df)
    
headers('https://en.wikipedia.org/wiki/Main_Page')

                          Headers
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6        Today's featured picture
7        Other areas of Wikipedia
8     Wikipedia's sister projects
9             Wikipedia languages
10                Navigation menu
11                         Search

## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [4]:
import pandas as pd

def imdb(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    movies = [i.h3.a.text.strip() for i in bs.find_all('div', class_="lister-item mode-advanced")]
    year = [i.text[1:5].strip() for i in bs.find_all('span', class_="lister-item-year text-muted unbold")]
    ratings = [i.text.replace('\n','') for i in bs.find_all('div', class_="inline-block ratings-imdb-rating")]
    df = pd.DataFrame({'Title': movies, 'Year': year, 'Rating':ratings})
    df.index += 1
    df.index.name = 'Rank'
    print(df)

imdb('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')

                                                  Title  Year Rating
Rank
1                              The Shawshank Redemption  1994    9.3
2                                         The Godfather  1972    9.2
3                                       The Dark Knight  2008    9.0
4         The Lord of the Rings: The Return of the King  2003    9.0
5                                      Schindler's List  1993    9.0
6                                The Godfather: Part II  1974    9.0
7                                          12 Angry Men  1957    9.0
8                                          Pulp Fiction  1994    8.9
9                                             Inception  2010    8.8
10                The Lord of the Rings: The Two Towers  2002    8.8
11                                           Fight Club  1999    8.8
12    The Lord of the Rings: The Fellowship of the Ring  2001    8.8
13                                         Forrest Gump  1994    8.8
14                      Il buono, il brutto, il cattivo  1966    8.8
15                                           The Matrix  1999    8.7
16                                           Goodfellas  1990    8.7
17                              The Empire Strikes Back  1980    8.7
18                      One Flew Over the Cuckoo's Nest  1975    8.7
19                                         Interstellar  2014    8.6
20                                       Cidade de Deus  2002    8.6
21                        Sen to Chihiro no kamikakushi  2001    8.6
22                                  Saving Private Ryan  1998    8.6
23                                       The Green Mile  1999    8.6
24                                      La vita è bella  1997    8.6
25                                                Se7en  1995    8.6
26                           Terminator 2: Judgment Day  1991    8.6
27                             The Silence of the Lambs  1991    8.6
28                                            Star Wars  1977    8.6
29                                              Seppuku  1962    8.6
30                                 Shichinin no samurai  1954    8.6
31                                It's a Wonderful Life  1946    8.6
32                                         Gisaengchung  2019    8.5
33                               Avengers: Infinity War  2018    8.5
34                                             Whiplash  2014    8.5
35                                     The Intouchables  2011    8.5
36                                         The Prestige  2006    8.5
37                                         The Departed  2006    8.5
38                                          The Pianist  2002    8.5
39                                              Memento  2000    8.5
40                                            Gladiator  2000    8.5
41                                   American History X  1998    8.5
42                                   The Usual Suspects  1995    8.5
43                                                 Léon  1994    8.5
44                                        The Lion King  1994    8.5
45                                Nuovo Cinema Paradiso  1988    8.5
46                                       Hotaru no haka  1988    8.5
47                                   Back to the Future  1985    8.5
48                                       Apocalypse Now  1979    8.5
49                                                Alien  1979    8.5
50                         Once Upon a Time in the West  1968    8.5

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [14]:
def imdb_india(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    movies = [i.text.replace('\n','').strip() for i in bs.find_all('td', class_="titleColumn")]
    ratings = [i.text.replace('\n','') for i in bs.find_all('td', class_="ratingColumn imdbRating")]
    df = pd.DataFrame({'Rank, Title and Year': movies[0:100], 'Rating':ratings[0:100]})
    df.index += 1
    print(df)

imdb_india('https://www.imdb.com/india/top-rated-indian-movies/')

                        Rank, Title and Year Rating
1             1.      K.G.F: Chapter 2(2022)    8.5
2                   2.      Anbe Sivam(2003)    8.4
3                     3.      Jai Bhim(2021)    8.4
4                      4.      Golmaal(1979)    8.4
5                      5.      Nayakan(1987)    8.4
..                                       ...    ...
96                     96.      Baasha(1995)    8.0
97                     97.      Masaan(2015)    8.0
98             98.      Dil Chahta Hai(2001)    8.0
99                    99.      Kahaani(2012)    8.0
100  100.      Maheshinte Prathikaaram(2016)    8.0

[100 rows x 2 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [15]:
def products(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    product_names = [i.text for i in bs.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")]
    prices = [int(i.text.replace('₹','')) for i in bs.find_all('h5', class_="Text__StyledText-sc-oo0kvp-0 hiHdyy")]
    discounts = [i.text.replace(' off','') for i in bs.find_all('span', class_="Text__StyledText-sc-oo0kvp-0 lnonyH")]
    df = pd.DataFrame({'Product Name':product_names, 'Price':prices, 'Discount':discounts})
    df.index += 1
    print(df)
    
products('https://meesho.com/bags-ladies/pl/p7vbp')

                            Product Name  Price Discount
1           Voguish Fancy Women Handbags   1549       3%
2      Ravishing Alluring Women Handbags    384      12%
3        Ravishing Classy Women Handbags    950       5%
4       Classic Versatile Women Handbags    950       5%
5          Graceful Fancy Women Handbags    528       9%
6      Classic Attractive Women Handbags    620       7%
7         Classic Stylish Women Handbags   3202       2%
8          Elegant Classy Women Handbags    950       5%
9      Graceful Versatile Women Handbags    950       5%
10  Ravishing Fashionable Women Handbags    316      14%
11       Elegant Alluring Women Handbags   2337       2%
12    Graceful Attractive Women Handbags    550       8%
13          Classic Fancy Women Handbags    646       7%
14      Classic Versatile Women Handbags    550       8%
15        Trendy Alluring Women Handbags   1320       4%
16    Elegant Fashionable Women Handbags    725       6%
17        Trendy Alluring Women Handbags    950       5%
18       Classic Alluring Women Handbags    518       9%
19         Trendy Stylish Women Handbags    823       6%
20    Classic Fashionable Women Handbags    620       7%

## 5) Write a python program to scrape cricket rankings from icc-cricket.com.

You have to scrape:
1) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

2) Top 10 ODI Batsmen along with the records of their team and rating.

3) Top 10 ODI bowlers along with the records of their team and rating.

In [7]:
def odi_teams(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    teams = [i.text for i in bs.find_all('span', class_="u-hide-phablet")]
    matches_and_points = []
    for i in bs.find_all('td', class_='table-body__cell u-center-text'):
        matches_and_points.append(i.text)
    matches = [matches_and_points[i] for i in range(len(matches_and_points)) if i % 2 == 0]
    matches.insert(0, bs.find('td', class_="rankings-block__banner--matches").text)
    points = [matches_and_points[i] for i in range(len(matches_and_points)) if i % 2 != 0]
    points.insert(0, bs.find('td', class_="rankings-block__banner--points").text.replace('\n\n',''))
    rating = [i.text for i in bs.find_all('td', class_="table-body__cell u-text-right rating")]
    rating.insert(0, bs.find('td', class_='rankings-block__banner--rating u-text-right').text.strip())
    df = pd.DataFrame({'Team':teams[:10],'Matches':matches[:10],'Points':points[:10],'Rating':rating[:10]})
    df.index += 1
    print(df)

odi_teams('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

            Team Matches Points Rating
1    New Zealand      20  2,448    122
2        England      32  3,793    119
3      Australia      31  3,475    112
4          India      38  4,162    110
5   South Africa      31  3,167    102
6       Pakistan      30  2,921     97
7     Bangladesh      36  3,350     93
8      Sri Lanka      35  2,835     81
9    West Indies      36  2,788     77
10   Afghanistan      23  1,562     68

In [8]:
def odi_batting(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    players = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell name")]
    players.insert(0, bs.find('div', class_="rankings-block__banner--name").text)
    teams = [i.text.strip() for i in bs.find_all('span', class_="table-body__logo-text")]
    teams.insert(0, bs.find('div', class_="rankings-block__banner--nationality").text.strip().replace('\n891','').replace('\n785',''))
    rating = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell u-text-right rating")]
    rating.insert(0, bs.find('div', class_="rankings-block__banner--nationality").text.strip().replace('PAK\n','').replace('AUS\n',''))
    df = pd.DataFrame({'Player':players[:10],'Team':teams[:10],'Rating':rating[:10]})
    df.index += 1
    print(df)
    
odi_batting('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

                   Player Team Rating
1              Babar Azam  PAK    891
2             Virat Kohli  IND    811
3             Imam-ul-Haq  PAK    795
4            Rohit Sharma  IND    791
5         Quinton de Kock   SA    789
6          Jonny Bairstow  ENG    775
7             Ross Taylor   NZ    775
8   Rassie van der Dussen   SA    769
9            David Warner  AUS    750
10            Aaron Finch  AUS    745

In [9]:
def odi_bowling(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    all_players = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell name")]
    bowlers = [i for i in all_players[9:18]]
    header_names = [i.text.strip() for i in bs.find_all('div', class_="rankings-block__banner--name")]
    bowlers.insert(0, header_names[1])
    all_teams = [i.text.strip() for i in bs.find_all('span', class_="table-body__logo-text")]
    teams = [i for i in all_teams[9:18]]
    header_info = [i.text.strip() for i in bs.find_all('div', class_="rankings-block__banner--nationality")]
    teams.insert(0, header_info[1].replace('\n726','').replace('\n771',''))
    all_rating = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell u-text-right rating")]
    rating = [i for i in all_rating[9:18]]
    header_rating_info = [i.text.strip() for i in bs.find_all('div', class_="rankings-block__banner--rating")]
    rating.insert(0, header_rating_info[1])
    df = pd.DataFrame({'Player':bowlers,'Team':teams,'Rating':rating})
    df.index += 1
    print(df)
    
odi_bowling('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

              Player Team Rating
1        Trent Boult   NZ    726
2       Chris Woakes  ENG    700
3     Josh Hazlewood  AUS    698
4         Matt Henry   NZ    683
5   Mujeeb Ur Rahman  AFG    681
6     Jasprit Bumrah  IND    679
7     Shaheen Afridi  PAK    671
8       Mehedi Hasan  BAN    661
9    Shakib Al Hasan  BAN    657
10       Rashid Khan  AFG    650

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
1) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

2) Top 10 women’s ODI Batting players along with the records of their team and rating.

3) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [10]:
odi_teams('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

            Team Matches Points Rating
1      Australia      29  4,840    167
2   South Africa      28  3,504    125
3        England      30  3,533    118
4          India      29  2,878     99
5    New Zealand      31  3,030     98
6    West Indies      28  2,481     89
7     Bangladesh      12    936     78
8       Pakistan      26  1,752     67
9        Ireland       5    240     48
10     Sri Lanka       5    233     47

In [11]:
odi_batting('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

               Player Team Rating
1        Alyssa Healy  AUS    785
2      Natalie Sciver  ENG    750
3         Beth Mooney  AUS    748
4     Laura Wolvaardt   SA    722
5         Meg Lanning  AUS    710
6      Rachael Haynes  AUS    701
7         Mithali Raj  IND    686
8   Amy Satterthwaite   NZ    681
9     Smriti Mandhana  IND    669
10     Tammy Beaumont  ENG    659

In [12]:
odi_bowling('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

               Player Team Rating
1   Sophie Ecclestone  ENG    771
2      Shabnim Ismail   SA    732
3       Jess Jonassen  AUS    725
4        Megan Schutt  AUS    722
5      Jhulan Goswami  IND    663
6      Marizanne Kapp   SA    662
7      Ayabonga Khaka   SA    635
8      Anya Shrubsole  ENG    629
9          Kate Cross  ENG    617
10    Hayley Matthews   WI    612

## 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [13]:
def coreyms(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    headings = [i.text for i in bs.find_all('h2', class_='entry-title')]
    headings.pop(4)
    date = [i.text for i in bs.find_all('time', class_='entry-time')]
    date.pop(4)
    content = [i.text.strip() for i in bs.find_all('div', class_='entry-content')]
    content.pop(4)
    iframes = bs.find_all('iframe')
    video_links = []
    for iframe in iframes:
        src=iframe['src']
        video_links.append(src)
    df = pd.DataFrame({'Heading':headings, 'Date':date, 'Content':content, 'Link':video_links})
    df.index += 1
    print(df)
coreyms('https://coreyms.com/')

                                             Heading                Date  \
1  Python Tutorial: Zip Files – Creating and Extr...   November 19, 2019
2  Python Data Science Tutorial: Analyzing the 20...    October 17, 2019
3  Python Multiprocessing Tutorial: Run Code in P...  September 21, 2019
4  Python Threading Tutorial: Run Code Concurrent...  September 12, 2019
5  Python Quick Tip: The Difference Between “==” ...      August 6, 2019
6  Python Tutorial: Calling External Commands Usi...       July 24, 2019
7  Visual Studio Code (Windows) – Setting up a Py...         May 1, 2019
8  Visual Studio Code (Mac) – Setting up a Python...         May 1, 2019
9  Clarifying the Issues with Mutable Default Arg...      April 24, 2019

                                             Content  \
1  In this video, we will be learning how to crea...
2  In this Python Programming video, we will be l...
3  In this Python Programming video, we will be l...
4  In this Python Programming video, we will be l...
5  In this Python Programming Tutorial, we will b...
6  In this Python Programming Tutorial, we will b...
7  In this Python Programming Tutorial, we will b...
8  In this Python Programming Tutorial, we will b...
9  In this Python Programming Tutorial, we will b...

                                                Link
1  https://www.youtube.com/embed/z0gguhEmWiY?vers...
2  https://www.youtube.com/embed/_P7X8tMplsw?vers...
3  https://www.youtube.com/embed/fKl2JW_qrso?vers...
4  https://www.youtube.com/embed/IEEhzQoKtQU?vers...
5  https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6  https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7  https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8  https://www.youtube.com/embed/06I63_p-2A4?vers...
9  https://www.youtube.com/embed/_JGmemuINww?vers...

## 8) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [14]:
def houses(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    headings = [i.text for i in bs.find_all('span', class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full')]
    locations = [i.text for i in bs.find_all('div', class_='mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95')]
    area_and_emi = [i.text for i in bs.find_all('div', class_='flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1')]
    area = [area_and_emi[i].replace('Builtup','') for i in range(len(area_and_emi)) if i % 2 == 0]
    emi = [area_and_emi[i].replace('Estimated EMI','') for i in range(len(area_and_emi)) if i % 2 != 0]
    price = [i.text for i in bs.find_all('div', class_='flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0')]
    df = pd.DataFrame({'House title':headings, 'Location':locations, 'Area':area, 'EMI':emi, 'Price':price})
    df.index += 1
    print(df)
    
houses('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar')

                                          House title  \
1   3 BHK Apartment  For Sale  In Admiralty Manor,...
2   4 BHK In Independent House  For Sale  In Jayan...
3   2 BHK Apartment  For Sale  In Jains Prakriti I...
4   4+ BHK In Independent House  For Sale  In Raja...
5   3 BHK Flat  For Sale  In Benaka Apartments In ...
6   4+ BHK In Independent House  For Sale  In Raja...
7   2 BHK Flat  For Sale  In Pallava Terrace In Ja...
8   3 BHK Apartment  For Sale  In Laa Royal Manor ...
9   2 BHK Apartment  For Sale  In Tarang Parkway A...
10  4 BHK In Independent House  For Sale  In Indir...
11  3 BHK Apartment  For Sale  In Brigade Gateway ...
12  2 BHK Flat  For Sale  In Jains Prakruti, Jayan...
13  2 BHK Apartment  For Sale  In Blueberry Apartm...
14  4+ BHK In Independent House  For Sale  In Laks...
15  4+ BHK In Independent House  For Sale  In Raja...
16  3 BHK Apartment  For Sale  In Adarsh Court Apa...
17  3 BHK Apartment  For Sale  In Parasmani Regenc...
18  2 BHK Flat  For Sale  In Kumar Ashraya Apartme...
19              3 BHK Flat  For Sale  In Rajaji Nagar
20  3 BHK Apartment  For Sale  In Mayitri Enclave ...
21  2 BHK Flat  For Sale  In Jayanagar Residency I...
22  4 BHK Flat  For Sale  In Rrbc Piccassso In Jay...
23  4 BHK Flat  For Sale  In Phoenix  One Bangalor...
24  4+ BHK In Independent House  For Sale  In Raja...
25  2 BHK Flat  For Sale  In Aishwaryam Gokula In ...

                                             Location        Area  \
1   Admiralty Manor, Indiranagar  Admiralty Manor,...  1,960 sqft
2   Independent House, SBI Branch Jayanagar 9th bl...  1,335 sqft
3   Jains Prakriti   Kanakapura Rd, 7th Block West...  1,298 sqft
4   Independent House,  6th Cross road,9th main ro...  1,320 sqft
5   16th D main, HAL 2nd stage, Indiranagar ,  Ben...  1,331 sqft
6   Independent House, 5th Block, near National Pu...  3,000 sqft
7   17, Pallava Terrace, North Main Road, 6th Bloc...  1,065 sqft
8   Laa Royal Manor  11th Cross Rd, 8th cross, HAL...  2,110 sqft
9   Tarang Parkway Apartment  2nd Main Rd, Shivana...  1,200 sqft
10            Independent House, 2nd stage ,9th cross  2,550 sqft
11  Brigade Gateway  Dr Rajkumar Road, Rajaji Naga...  1,640 sqft
12  Kanakapura Road, Jayanagar, Bangalore, Karnata...  1,301 sqft
13  Blueberry Apartment  13th E Main Rd, Channakes...  1,074 sqft
14        Independent House, CMH Rd , Near B P Bakery  2,250 sqft
15  Independent House, 6th C cross 3rd main rd nea...  2,200 sqft
16  Adarsh Court Apartment  Adarsh Court Apartment...  1,990 sqft
17  Parasmani Regency  Parasmani Regency, 8th Cros...  1,940 sqft
18   Kumar Ashraya Apartments 194, 9th Cross Rd 2n...    900 sqft
19  Independent House, 242, 27th cross, 2nd Block,...  1,275 sqft
20  Mayitri Enclave  Mayitri Enclave, 39th C, 5T B...  1,450 sqft
21  Jayanagar Residency, K V Layout, LIC Colony, J...  1,200 sqft
22  Municipal No.152, 18th main road, beside Sai B...  4,859 sqft
23  Dr Rajkumar Rd, opposite Sheraton Hotel, Rajaj...  2,901 sqft
24  Independent House, 6th Cross Rd, 2nd Block  ne...  2,240 sqft
25            1st main govindraja naagar blore 560040  1,209 sqft

                 EMI                           Price
1      ₹85,971/Month    ₹1.5 Crores₹7,653 per sq.ft.
2   ₹1.55 Lacs/Month   ₹2.7 Crores₹20,225 per sq.ft.
3   ₹1.15 Lacs/Month     ₹2 Crores₹15,408 per sq.ft.
4      ₹63,045/Month    ₹1.1 Crores₹8,333 per sq.ft.
5      ₹48,717/Month       ₹85 Lacs₹6,386 per sq.ft.
6   ₹1.86 Lacs/Month  ₹3.25 Crores₹10,833 per sq.ft.
7      ₹42,985/Month       ₹75 Lacs₹7,042 per sq.ft.
8   ₹1.58 Lacs/Month  ₹2.75 Crores₹13,033 per sq.ft.
9      ₹57,314/Month       ₹1 Crore₹8,333 per sq.ft.
10  ₹1.69 Lacs/Month  ₹2.95 Crores₹11,569 per sq.ft.
11   ₹1.5 Lacs/Month  ₹2.62 Crores₹16,000 per sq.ft.
12     ₹85,971/Month   ₹1.5 Crores₹11,530 per sq.ft.
13     ₹87,691/Month  ₹1.53 Crores₹14,246 per sq.ft.
14     ₹63,045/Month    ₹1.1 Crores₹4,889 per sq.ft.
15     ₹77,374/Month   ₹1.35 Crores₹6,136 per sq.ft.
16  ₹1.86 Lacs/Month  ₹3.25 Crores₹16,332 per sq.ft.
17  ₹1.43 Lacs/Month   ₹2.5 Crores₹12,887 per sq.ft.
18     ₹37,827/Month       ₹66 Lacs₹7,333 per sq.ft.
19     ₹77,374/Month  ₹1.35 Crores₹10,588 per sq.ft.
20     ₹44,705/Month       ₹78 Lacs₹5,379 per sq.ft.
21     ₹57,314/Month       ₹1 Crore₹8,333 per sq.ft.
22  ₹3.91 Lacs/Month  ₹6.83 Crores₹14,056 per sq.ft.
23  ₹2.72 Lacs/Month  ₹4.75 Crores₹16,374 per sq.ft.
24     ₹83,679/Month   ₹1.46 Crores₹6,518 per sq.ft.
25     ₹44,705/Month       ₹78 Lacs₹6,452 per sq.ft.

## 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [15]:
def restaurant(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    names = [i.text for i in bs.find_all('div', class_='restnt-info cursor')]
    cuisines_and_prices = [i.text for i in bs.find_all('span', class_='double-line-ellipsis')]
    cuisines_split = []
    for i in cuisines_and_prices:
        k = i.split()
        cuisines_split.append(k[6:])
    cuisines = []
    for i in cuisines_split:
        listToStr = ' '.join([str(elem) for elem in i])
        cuisines.append(listToStr)
    location = [i.text for i in bs.find_all('div', class_='restnt-loc ellipsis')]
    rating = [i.text for i in bs.find_all('div', class_='restnt-rating rating-5')]
    for i in bs.find_all('div', class_='restnt-rating rating-4'):
        rating.append(i.text)
    images = [i['data-src'] for i in bs.find_all('img', class_='no-img')]
    df = pd.DataFrame({'Restaurant Name':names, 'Cuisine':cuisines, 'Location':location, 'Ratings':rating, 'Image URL':images})
    df.index += 1
    print(df)
    
restaurant('https://www.dineout.co.in/mumbai-restaurants/5-star')

                                      Restaurant Name  \
1   JW CafeJW Marriott Mumbai Sahar,Near Andheri E...
2   SaptamiHoliday Inn Mumbai International Airpor...
3   Lake View CafeThe Westin Mumbai Powai Lake,Pow...
4   72 Lounge Bar - Holiday InnHoliday Inn Mumbai ...
5   Nawab SahebThe Westin Mumbai Powai Lake,Powai,...
6   Romano'sJW Marriott Mumbai Sahar,Near Andheri ...
7   All Stir Fry - Waterstones HotelWaterstones Ho...
8   JW Baking CompanySahar Airport Road, Andheri East
9   JW LoungeJW Marriott Mumbai Sahar,Near Andheri...
10  JamavarThe Leela Hotel,Near Andheri East Stati...
11  On the Rocks- Waterstones HotelWaterstones Hot...
12  Six DegreesThe Leela Hotel,Near Andheri East S...
13  BaluchiThe Lalit Mumbai,Near Andheri East Stat...
14  Le Cirque SignatureThe Leela Hotel,Near Andher...
15  24/7The Lalit Mumbai,Near Andheri East Station...
16      CitrusNear Andheri East Station, Andheri East
17  BelugaThe Lalit Mumbai,Near Andheri East Stati...
18  The BrasserieHilton Hotels and Resorts,Sahar A...
19  The Great WallThe Leela Hotel,Near Andheri Eas...
20  TrendzThe Lalit Mumbai,Near Andheri East Stati...
21       BanjaraGoldfinch Hotel,M.I.D.C, Andheri East

                                              Cuisine  \
1                      North Indian, Asian, Fast Food
2                    North Indian, Continental, Asian
3                      North Indian, Chinese, Italian
4                              Finger Food, Fast Food
5                               North Indian, Mughlai
6                                             Italian
7                            Asian, Chinese, Japanese
8                                            Desserts
9                                Continental, Italian
10                     North Indian, Mughlai, Seafood
11                  Finger Food, Chinese, Continental
12                  Finger Food, Continental, Italian
13                      Awadhi, North Indian, Mughlai
14                                    French, Italian
15             European, Italian, North Indian, Asian
16  Maharashtrian, Continental, Asian, Italian, No...
17                              North Indian, Seafood
18          North Indian, Italian, Continental, Asian
19                                   Chinese, Seafood
20                                 Italian, Fast Food
21     North Indian, Asian, South Indian, Continental

                                             Location Ratings  \
1   JW Marriott Mumbai Sahar,Near Andheri East Sta...     4.6
2   Holiday Inn Mumbai International Airport,Near ...     4.5
3           The Westin Mumbai Powai Lake,Powai, Powai       5
4   Holiday Inn Mumbai International Airport,Near ...     4.5
5           The Westin Mumbai Powai Lake,Powai, Powai     4.5
6   JW Marriott Mumbai Sahar,Near Andheri East Sta...     4.9
7               Waterstones Hotel,Marol, Andheri East     4.9
8                    Sahar Airport Road, Andheri East     4.4
9   JW Marriott Mumbai Sahar,Near Andheri East Sta...     4.3
10  The Leela Hotel,Near Andheri East Station, And...     4.3
11              Waterstones Hotel,Marol, Andheri East     4.3
12  The Leela Hotel,Near Andheri East Station, And...     4.3
13  The Lalit Mumbai,Near Andheri East Station, An...     4.3
14  The Leela Hotel,Near Andheri East Station, And...     4.4
15  The Lalit Mumbai,Near Andheri East Station, An...     4.3
16            Near Andheri East Station, Andheri East     4.3
17  The Lalit Mumbai,Near Andheri East Station, An...     4.1
18  Hilton Hotels and Resorts,Sahar Airport Road, ...     4.2
19  The Leela Hotel,Near Andheri East Station, And...     4.2
20  The Lalit Mumbai,Near Andheri East Station, An...     3.6
21              Goldfinch Hotel,M.I.D.C, Andheri East     3.9

                                            Image URL
1   https://im1.dineout.co.in/images/uploads/resta...
2   https://im1.dineout.co.in/images/uploads/resta...
3   https://im1.dineout.co.in/images/uploads/resta...
4   https://im1.dineout.co.in/images/uploads/resta...
5   https://im1.dineout.co.in/images/uploads/resta...
6   https://im1.dineout.co.in/images/uploads/resta...
7   https://im1.dineout.co.in/images/uploads/resta...
8   https://im1.dineout.co.in/images/uploads/resta...
9   https://im1.dineout.co.in/images/uploads/resta...
10  https://im1.dineout.co.in/images/uploads/resta...
11  https://im1.dineout.co.in/images/uploads/resta...
12  https://im1.dineout.co.in/images/uploads/resta...
13  https://im1.dineout.co.in/images/uploads/resta...
14  https://im1.dineout.co.in/images/uploads/resta...
15  https://im1.dineout.co.in/images/uploads/resta...
16  https://im1.dineout.co.in/images/uploads/resta...
17  https://im1.dineout.co.in/images/uploads/resta...
18  https://im1.dineout.co.in/images/uploads/resta...
19  https://im1.dineout.co.in/images/uploads/resta...
20  https://im1.dineout.co.in/images/uploads/resta...
21  https://im1.dineout.co.in/images/uploads/resta...

## 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [16]:
def tshirts(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    names_and_details = [i.text for i in bs.find_all('div', class_='productCardDetail')]
    new_names = []
    for i in names_and_details:
        k = i.split()
        new_names.append(k[:-3])
    names = []
    for i in new_names:
        listToStr = ' '.join([str(elem) for elem in i])
        names.append(listToStr.replace('₹',''))
    price = [i.text.replace('₹ ','') for i in bs.find_all('span', class_='discountedPriceText')]
    images = [i['src'] for i in bs.find_all('img', class_='productImgTag')]
    df = pd.DataFrame({'Product Name':names[:10], 'Price':price[:10], 'Image URL':images[:10]})
    df.index += 1
    print(df)

tshirts('https://www.bewakoof.com/women-t-shirts?sort=new')

                                         Product Name Price  \
1   Women's Black I Think My Soulmate Is Food Typo...   349
2   Women's Red I Think My Soulmate Is Food Typogr...   299
3   Women's Yellow Better Cattitude Graphic Printe...   349
4   Women's White Better Cattitude Graphic Printed...   299
5            Women's White Black Pink Printed T-shirt   349
6                  Women's Black Pink Printed T-shirt   349
7      Customizable Women Black Boyfriend Fit T Shirt   599
8   Women's Red Moon Child Graphic Printed Boyfrie...   299
9   Women's Black Moon Child Graphic Printed Boyfr...   299
10  Women's Blue Sleepy DB Graphic Printed Boyfrie...   399

                                            Image URL
1   https://images.bewakoof.com/t320/soulmate-over...
2   https://images.bewakoof.com/t320/soulmate-boyf...
3   https://images.bewakoof.com/t320/better-cattit...
4   https://images.bewakoof.com/t320/better-cattit...
5   https://images.bewakoof.com/t320/black-pink-47...
6   https://images.bewakoof.com/t320/black-pink-47...
7   https://images.bewakoof.com/t320/bewakoof-cust...
8   https://images.bewakoof.com/t320/moon-child-bo...
9   https://images.bewakoof.com/t320/moon-child-bo...
10  https://images.bewakoof.com/t320/sleepy-db-boy...