## 1) Write a python program to display all the header tags from wikipedia.org .

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def headers(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content)
    titles = (i.text.strip() for i in bs.find_all(['h1', 'h2','h3','h4','h5','h6']))
    dict1 = {'Headers': titles}
    return dict1
    
df = pd.DataFrame(headers('https://en.wikipedia.org/wiki/Main_Page'))
df

                          Headers
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6        Today's featured picture
7        Other areas of Wikipedia
8     Wikipedia's sister projects
9             Wikipedia languages
10                Navigation menu
11                         Search

## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [3]:
import pandas as pd

def imdb(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    movies = [i.h3.a.text.strip() for i in bs.find_all('div', class_="lister-item mode-advanced")]
    year = [i.text[1:5].strip() for i in bs.find_all('span', class_="lister-item-year text-muted unbold")]
    ratings = [i.text.replace('\n','') for i in bs.find_all('div', class_="inline-block ratings-imdb-rating")]
    dict1 = {'Title': movies, 'Year': year, 'Rating':ratings}
    return dict1


df = pd.DataFrame(imdb('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'))
df.index += 1
df.index.name = 'Rank'
df

                                                  Title  Year Rating
Rank
1                              The Shawshank Redemption  1994    9.3
2                                         The Godfather  1972    9.2
3                                       The Dark Knight  2008    9.0
4         The Lord of the Rings: The Return of the King  2003    9.0
5                                      Schindler's List  1993    9.0
6                                The Godfather: Part II  1974    9.0
7                                          12 Angry Men  1957    9.0
8                                          Pulp Fiction  1994    8.9
9                                             Inception  2010    8.8
10                The Lord of the Rings: The Two Towers  2002    8.8
11                                           Fight Club  1999    8.8
12    The Lord of the Rings: The Fellowship of the Ring  2001    8.8
13                                         Forrest Gump  1994    8.8
14                      Il buono, il brutto, il cattivo  1966    8.8
15                                           The Matrix  1999    8.7
16                                           Goodfellas  1990    8.7
17                              The Empire Strikes Back  1980    8.7
18                      One Flew Over the Cuckoo's Nest  1975    8.7
19                                         Interstellar  2014    8.6
20                                       Cidade de Deus  2002    8.6
21                        Sen to Chihiro no kamikakushi  2001    8.6
22                                  Saving Private Ryan  1998    8.6
23                                       The Green Mile  1999    8.6
24                                      La vita è bella  1997    8.6
25                                                Se7en  1995    8.6
26                           Terminator 2: Judgment Day  1991    8.6
27                             The Silence of the Lambs  1991    8.6
28                                            Star Wars  1977    8.6
29                                              Seppuku  1962    8.6
30                                 Shichinin no samurai  1954    8.6
31                                It's a Wonderful Life  1946    8.6
32                                         Gisaengchung  2019    8.5
33                                             Whiplash  2014    8.5
34                                     The Intouchables  2011    8.5
35                                         The Prestige  2006    8.5
36                                         The Departed  2006    8.5
37                                          The Pianist  2002    8.5
38                                            Gladiator  2000    8.5
39                                   American History X  1998    8.5
40                                   The Usual Suspects  1995    8.5
41                                                 Léon  1994    8.5
42                                        The Lion King  1994    8.5
43                                Nuovo Cinema Paradiso  1988    8.5
44                                       Hotaru no haka  1988    8.5
45                                   Back to the Future  1985    8.5
46                                       Apocalypse Now  1979    8.5
47                                                Alien  1979    8.5
48                         Once Upon a Time in the West  1968    8.5
49                                               Psycho  1960    8.5
50                                          Rear Window  1954    8.5

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [4]:
def imdb_india(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    movies = [i.text.replace('\n','').strip() for i in bs.find_all('td', class_="titleColumn")]
    ratings = [i.text.replace('\n','') for i in bs.find_all('td', class_="ratingColumn imdbRating")]
    return {'Rank, Title and Year': movies[0:100], 'Rating':ratings[0:100]}
    

df = pd.DataFrame(imdb_india('https://www.imdb.com/india/top-rated-indian-movies/'))
df.index += 1
df

                        Rank, Title and Year Rating
1             1.      K.G.F: Chapter 2(2022)    8.4
2                   2.      Anbe Sivam(2003)    8.4
3                     3.      Jai Bhim(2021)    8.4
4                      4.      Golmaal(1979)    8.4
5                      5.      Nayakan(1987)    8.4
..                                       ...    ...
96                     96.      Baasha(1995)    8.0
97                     97.      Masaan(2015)    8.0
98             98.      Dil Chahta Hai(2001)    8.0
99                    99.      Kahaani(2012)    8.0
100  100.      Maheshinte Prathikaaram(2016)    8.0

[100 rows x 2 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [5]:
def products(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    product_names = [i.text for i in bs.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")]
    prices = [int(i.text.replace('₹','')) for i in bs.find_all('h5', class_="Text__StyledText-sc-oo0kvp-0 hiHdyy")]
    discounts = [i.text.replace(' off','') for i in bs.find_all('span', class_="Text__StyledText-sc-oo0kvp-0 lnonyH")]
    return {'Product Name':product_names, 'Price':prices, 'Discount':discounts}
    
df = pd.DataFrame(products('https://meesho.com/bags-ladies/pl/p7vbp'))
df

                            Product Name  Price Discount
0        Ravishing Classy Women Handbags    950       5%
1          Graceful Fancy Women Handbags    528       9%
2       Classic Versatile Women Handbags    950       5%
3      Ravishing Alluring Women Handbags    384      12%
4           Voguish Fancy Women Handbags   1549       3%
5   Ravishing Fashionable Women Handbags    316      14%
6         Classic Stylish Women Handbags   3202       2%
7      Graceful Versatile Women Handbags    950       5%
8          Elegant Classy Women Handbags    950       5%
9        Elegant Alluring Women Handbags   2337       2%
10        Trendy Alluring Women Handbags   1320       4%
11    Elegant Fashionable Women Handbags    725       6%
12       Classic Alluring Women Handbags    518       9%
13    Classic Fashionable Women Handbags    620       7%
14          Classic Fancy Women Handbags    646       7%
15        Trendy Alluring Women Handbags    950       5%

## 5) Write a python program to scrape cricket rankings from icc-cricket.com.

You have to scrape:
1) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

2) Top 10 ODI Batsmen along with the records of their team and rating.

3) Top 10 ODI bowlers along with the records of their team and rating.

In [7]:
def odi_teams(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    teams = [i.text for i in bs.find_all('span', class_="u-hide-phablet")]
    matches_and_points = []
    for i in bs.find_all('td', class_='table-body__cell u-center-text'):
        matches_and_points.append(i.text)
    matches = [matches_and_points[i] for i in range(len(matches_and_points)) if i % 2 == 0]
    matches.insert(0, bs.find('td', class_="rankings-block__banner--matches").text)
    points = [matches_and_points[i] for i in range(len(matches_and_points)) if i % 2 != 0]
    points.insert(0, bs.find('td', class_="rankings-block__banner--points").text.replace('\n\n',''))
    rating = [i.text for i in bs.find_all('td', class_="table-body__cell u-text-right rating")]
    rating.insert(0, bs.find('td', class_='rankings-block__banner--rating u-text-right').text.strip())
    return {'Team':teams[:10],'Matches':matches[:10],'Points':points[:10],'Rating':rating[:10]}
    
df = pd.DataFrame(odi_teams('https://www.icc-cricket.com/rankings/mens/team-rankings/odi'))
df.index += 1
df.index.name = 'Rank'
df

              Team Matches Points Rating
Rank
1      New Zealand      20  2,448    122
2          England      32  3,793    119
3        Australia      31  3,475    112
4            India      38  4,162    110
5     South Africa      31  3,167    102
6         Pakistan      30  2,921     97
7       Bangladesh      36  3,350     93
8        Sri Lanka      35  2,835     81
9      West Indies      36  2,788     77
10     Afghanistan      23  1,562     68

In [8]:
def odi_batting(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    players = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell name")]
    players.insert(0, bs.find('div', class_="rankings-block__banner--name").text)
    teams = [i.text.strip() for i in bs.find_all('span', class_="table-body__logo-text")]
    teams.insert(0, bs.find('div', class_="rankings-block__banner--nationality").text.strip().replace('\n891','').replace('\n785',''))
    rating = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell u-text-right rating")]
    rating.insert(0, bs.find('div', class_="rankings-block__banner--nationality").text.strip().replace('PAK\n','').replace('AUS\n',''))
    return {'Player':players[:10],'Team':teams[:10],'Rating':rating[:10]}
    
df = pd.DataFrame(odi_batting('https://www.icc-cricket.com/rankings/mens/player-rankings/odi'))
df.index += 1
df.index.name = 'Rank'
df

                     Player Team Rating
Rank
1                Babar Azam  PAK    891
2               Virat Kohli  IND    811
3               Imam-ul-Haq  PAK    795
4              Rohit Sharma  IND    791
5           Quinton de Kock   SA    789
6            Jonny Bairstow  ENG    775
7               Ross Taylor   NZ    775
8     Rassie van der Dussen   SA    769
9              David Warner  AUS    750
10              Aaron Finch  AUS    745

In [9]:
def odi_bowling(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    all_players = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell name")]
    bowlers = [i for i in all_players[9:18]]
    header_names = [i.text.strip() for i in bs.find_all('div', class_="rankings-block__banner--name")]
    bowlers.insert(0, header_names[1])
    all_teams = [i.text.strip() for i in bs.find_all('span', class_="table-body__logo-text")]
    teams = [i for i in all_teams[9:18]]
    header_info = [i.text.strip() for i in bs.find_all('div', class_="rankings-block__banner--nationality")]
    teams.insert(0, header_info[1].replace('\n726','').replace('\n771',''))
    all_rating = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell u-text-right rating")]
    rating = [i for i in all_rating[9:18]]
    header_rating_info = [i.text.strip() for i in bs.find_all('div', class_="rankings-block__banner--rating")]
    rating.insert(0, header_rating_info[1])
    return {'Player':bowlers,'Team':teams,'Rating':rating}
    
df = pd.DataFrame(odi_bowling('https://www.icc-cricket.com/rankings/mens/player-rankings/odi'))
df.index += 1
df.index.name = 'Rank'
df

                Player Team Rating
Rank
1          Trent Boult   NZ    726
2         Chris Woakes  ENG    700
3       Josh Hazlewood  AUS    698
4           Matt Henry   NZ    683
5     Mujeeb Ur Rahman  AFG    681
6       Jasprit Bumrah  IND    679
7       Shaheen Afridi  PAK    671
8         Mehedi Hasan  BAN    661
9      Shakib Al Hasan  BAN    657
10         Rashid Khan  AFG    650

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
1) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

2) Top 10 women’s ODI Batting players along with the records of their team and rating.

3) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [10]:
df = pd.DataFrame(odi_teams('https://www.icc-cricket.com/rankings/womens/team-rankings/odi'))
df.index += 1
df.index.name = 'Rank'
df

              Team Matches Points Rating
Rank
1        Australia      29  4,840    167
2     South Africa      28  3,504    125
3          England      30  3,533    118
4            India      29  2,878     99
5      New Zealand      31  3,030     98
6      West Indies      28  2,481     89
7       Bangladesh      12    936     78
8         Pakistan      26  1,752     67
9          Ireland       5    240     48
10       Sri Lanka       5    233     47

In [12]:
df = pd.DataFrame(odi_batting('https://www.icc-cricket.com/rankings/womens/player-rankings/odi'))
df.index += 1
df.index.name = 'Rank'
df

                 Player Team Rating
Rank
1          Alyssa Healy  AUS    785
2        Natalie Sciver  ENG    750
3           Beth Mooney  AUS    748
4       Laura Wolvaardt   SA    722
5           Meg Lanning  AUS    710
6        Rachael Haynes  AUS    701
7           Mithali Raj  IND    686
8     Amy Satterthwaite   NZ    681
9       Smriti Mandhana  IND    669
10       Tammy Beaumont  ENG    659

In [13]:
df = pd.DataFrame(odi_bowling('https://www.icc-cricket.com/rankings/womens/player-rankings/odi'))
df.index += 1
df.index.name = 'Rank'
df

                 Player Team Rating
Rank
1     Sophie Ecclestone  ENG    771
2        Shabnim Ismail   SA    732
3         Jess Jonassen  AUS    725
4          Megan Schutt  AUS    722
5        Jhulan Goswami  IND    663
6        Marizanne Kapp   SA    662
7        Ayabonga Khaka   SA    635
8        Anya Shrubsole  ENG    629
9            Kate Cross  ENG    617
10      Hayley Matthews   WI    612

## 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [14]:
def coreyms(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    headings = [i.text for i in bs.find_all('h2', class_='entry-title')]
    headings.pop(4)
    date = [i.text for i in bs.find_all('time', class_='entry-time')]
    date.pop(4)
    content = [i.text.strip() for i in bs.find_all('div', class_='entry-content')]
    content.pop(4)
    iframes = bs.find_all('iframe')
    video_links = []
    for iframe in iframes:
        src=iframe['src']
        video_links.append(src)
    return {'Heading':headings, 'Date':date, 'Content':content, 'Link':video_links}

df = pd.DataFrame(coreyms('https://coreyms.com/'))
df

,Heading,Date,Content,Link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
5,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
6,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
7,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/06I63_p-2A4?vers...
8,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/_JGmemuINww?vers...

## 8) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [16]:
def houses(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    headings = [i.text for i in bs.find_all('span', class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full')]
    locations = [i.text for i in bs.find_all('div', class_='mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95')]
    area_and_emi = [i.text for i in bs.find_all('div', class_='flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1')]
    area = [area_and_emi[i].replace('Builtup','') for i in range(len(area_and_emi)) if i % 2 == 0]
    emi = [area_and_emi[i].replace('Estimated EMI','') for i in range(len(area_and_emi)) if i % 2 != 0]
    price = [i.text for i in bs.find_all('div', class_='flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0')]
    return {'House title':headings, 'Location':locations, 'Area':area, 'EMI':emi, 'Price':price}
    
    
df = pd.DataFrame(houses('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar'))
df

,House title,Location,Area,EMI,Price
0,4+ BHK In Independent House For Sale In Raja...,"Independent House, 5th Block, near National Pu...","3,000 sqft",₹1.86 Lacs/Month,"₹3.25 Crores₹10,833 per sq.ft."
1,4 BHK In Independent House For Sale In Jayan...,"Independent House, Jayanagar SBI Branch 9th bl...","2,500 sqft",₹1.55 Lacs/Month,"₹2.7 Crores₹10,800 per sq.ft."
2,3 BHK Flat For Sale In Shree Rameshwara Nila...,manjunath road near The illusion Cafe,"1,200 sqft","₹63,045/Month","₹1.1 Crores₹9,167 per sq.ft."
3,3 BHK Apartment For Sale In Laa Royal Manor ...,"Laa Royal Manor 11th Cross Rd, 8th cross, HAL...","2,110 sqft",₹1.58 Lacs/Month,"₹2.75 Crores₹13,033 per sq.ft."
4,2 BHK Flat For Sale In Pallava Terrace In Ja...,"17, Pallava Terrace, North Main Road, 6th Bloc...","1,065 sqft","₹42,985/Month","₹75 Lacs₹7,042 per sq.ft."
5,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th C cross 3rd main rd nea...","2,200 sqft","₹77,374/Month","₹1.35 Crores₹6,136 per sq.ft."
6,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross road,9th main ro...","1,320 sqft","₹63,045/Month","₹1.1 Crores₹8,333 per sq.ft."
7,"3 BHK Apartment For Sale In Admiralty Manor,...","Admiralty Manor, Indiranagar Admiralty Manor,...","1,960 sqft","₹85,971/Month","₹1.5 Crores₹7,653 per sq.ft."
8,2 BHK Apartment For Sale In Jains Prakriti I...,"Jains Prakriti Kanakapura Rd, 7th Block West...","1,298 sqft",₹1.15 Lacs/Month,"₹2 Crores₹15,408 per sq.ft."
9,3 BHK Flat For Sale In Benaka Apartments In ...,"16th D main, HAL 2nd stage, Indiranagar , Ben...","1,331 sqft","₹48,717/Month","₹85 Lacs₹6,386 per sq.ft."
10,4 BHK In Independent House For Sale In Indir...,"Independent House, 2nd stage ,9th cross","2,550 sqft",₹1.69 Lacs/Month,"₹2.95 Crores₹11,569 per sq.ft."
11,2 BHK Apartment For Sale In Blueberry Apartm...,"Blueberry Apartment 13th E Main Rd, Channakes...","1,074 sqft","₹87,691/Month","₹1.53 Crores₹14,246 per sq.ft."
12,4+ BHK In Independent House For Sale In Laks...,"Independent House, CMH Rd , Near B P Bakery","2,250 sqft","₹63,045/Month","₹1.1 Crores₹4,889 per sq.ft."
13,2 BHK Apartment For Sale In Tarang Parkway A...,"Tarang Parkway Apartment 2nd Main Rd, Shivana...","1,200 sqft","₹57,314/Month","₹1 Crore₹8,333 per sq.ft."
14,3 BHK Apartment For Sale In Brigade Gateway ...,"Brigade Gateway Dr Rajkumar Road, Rajaji Naga...","1,640 sqft",₹1.5 Lacs/Month,"₹2.62 Crores₹16,000 per sq.ft."
15,"2 BHK Flat For Sale In Jains Prakruti, Jayan...","Kanakapura Road, Jayanagar, Bangalore, Karnata...","1,301 sqft","₹85,971/Month","₹1.5 Crores₹11,530 per sq.ft."
16,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross Rd, 2nd Block ne...","2,240 sqft","₹83,679/Month","₹1.46 Crores₹6,518 per sq.ft."
17,3 BHK Flat For Sale In Rajaji Nagar,"Independent House, 242, 27th cross, 2nd Block,...","1,275 sqft","₹77,374/Month","₹1.35 Crores₹10,588 per sq.ft."
18,3 BHK Apartment For Sale In Adarsh Court Apa...,Adarsh Court Apartment Adarsh Court Apartment...,"1,990 sqft",₹1.86 Lacs/Month,"₹3.25 Crores₹16,332 per sq.ft."
19,3 BHK Apartment For Sale In Parasmani Regenc...,"Parasmani Regency Parasmani Regency, 8th Cros...","1,940 sqft",₹1.43 Lacs/Month,"₹2.5 Crores₹12,887 per sq.ft."
20,2 BHK Flat For Sale In Kumar Ashraya Apartme...,"Kumar Ashraya Apartments 194, 9th Cross Rd 2n...",900 sqft,"₹37,827/Month","₹66 Lacs₹7,333 per sq.ft."
21,3 BHK Apartment For Sale In Mayitri Enclave ...,"Mayitri Enclave Mayitri Enclave, 39th C, 5T B...","1,450 sqft","₹44,705/Month","₹78 Lacs₹5,379 per sq.ft."
22,2 BHK Flat For Sale In Jayanagar Residency I...,"Jayanagar Residency, K V Layout, LIC Colony, J...","1,200 sqft","₹57,314/Month","₹1 Crore₹8,333 per sq.ft."
23,4 BHK Flat For Sale In Rrbc Piccassso In Jay...,"Municipal No.152, 18th main road, beside Sai B...","4,859 sqft",₹3.91 Lacs/Month,"₹6.83 Crores₹14,056 per sq.ft."
24,4 BHK Flat For Sale In Phoenix One Bangalor...,"Dr Rajkumar Rd, opposite Sheraton Hotel, Rajaj...","2,901 sqft",₹2.72 Lacs/Month,"₹4.75 Crores₹16,374 per sq.ft."

## 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [17]:
def restaurant(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    names = [i.text for i in bs.find_all('div', class_='restnt-info cursor')]
    cuisines_and_prices = [i.text for i in bs.find_all('span', class_='double-line-ellipsis')]
    cuisines_split = []
    for i in cuisines_and_prices:
        k = i.split()
        cuisines_split.append(k[6:])
    cuisines = []
    for i in cuisines_split:
        listToStr = ' '.join([str(elem) for elem in i])
        cuisines.append(listToStr)
    location = [i.text for i in bs.find_all('div', class_='restnt-loc ellipsis')]
    rating = [i.text for i in bs.find_all('div', class_='restnt-rating rating-5')]
    for i in bs.find_all('div', class_='restnt-rating rating-4'):
        rating.append(i.text)
    images = [i['data-src'] for i in bs.find_all('img', class_='no-img')]
    return {'Restaurant Name':names, 'Cuisine':cuisines, 'Location':location, 'Ratings':rating, 'Image URL':images}

    
df = pd.DataFrame(restaurant('https://www.dineout.co.in/mumbai-restaurants/5-star'))
df

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,"JW CafeJW Marriott Mumbai Sahar,Near Andheri E...","North Indian, Asian, Fast Food","JW Marriott Mumbai Sahar,Near Andheri East Sta...",4.6,https://im1.dineout.co.in/images/uploads/resta...
1,SaptamiHoliday Inn Mumbai International Airpor...,"North Indian, Continental, Asian","Holiday Inn Mumbai International Airport,Near ...",4.5,https://im1.dineout.co.in/images/uploads/resta...
2,"Lake View CafeThe Westin Mumbai Powai Lake,Pow...","North Indian, Chinese, Italian","The Westin Mumbai Powai Lake,Powai, Powai",5,https://im1.dineout.co.in/images/uploads/resta...
3,"Nawab SahebThe Westin Mumbai Powai Lake,Powai,...","North Indian, Mughlai","The Westin Mumbai Powai Lake,Powai, Powai",4.5,https://im1.dineout.co.in/images/uploads/resta...
4,72 Lounge Bar - Holiday InnHoliday Inn Mumbai ...,"Finger Food, Fast Food","Holiday Inn Mumbai International Airport,Near ...",4.5,https://im1.dineout.co.in/images/uploads/resta...
5,"Romano'sJW Marriott Mumbai Sahar,Near Andheri ...",Italian,"JW Marriott Mumbai Sahar,Near Andheri East Sta...",4.9,https://im1.dineout.co.in/images/uploads/resta...
6,All Stir Fry - Waterstones HotelWaterstones Ho...,"Asian, Chinese, Japanese","Waterstones Hotel,Marol, Andheri East",4.9,https://im1.dineout.co.in/images/uploads/resta...
7,"JW Baking CompanySahar Airport Road, Andheri East",Desserts,"Sahar Airport Road, Andheri East",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,"JW LoungeJW Marriott Mumbai Sahar,Near Andheri...",Continental,"JW Marriott Mumbai Sahar,Near Andheri East Sta...",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,"JamavarThe Leela Hotel,Near Andheri East Stati...","North Indian, Mughlai, Seafood","The Leela Hotel,Near Andheri East Station, And...",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,On the Rocks- Waterstones HotelWaterstones Hot...,"Finger Food, Chinese, Continental","Waterstones Hotel,Marol, Andheri East",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,"Six DegreesThe Leela Hotel,Near Andheri East S...","Finger Food, Continental, Italian","The Leela Hotel,Near Andheri East Station, And...",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,"BaluchiThe Lalit Mumbai,Near Andheri East Stat...","Awadhi, North Indian, Mughlai","The Lalit Mumbai,Near Andheri East Station, An...",4.3,https://im1.dineout.co.in/images/uploads/resta...
13,"Le Cirque SignatureThe Leela Hotel,Near Andher...","French, Italian","The Leela Hotel,Near Andheri East Station, And...",4.4,https://im1.dineout.co.in/images/uploads/resta...
14,"24/7The Lalit Mumbai,Near Andheri East Station...","European, Italian, North Indian, Asian","The Lalit Mumbai,Near Andheri East Station, An...",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,"BelugaThe Lalit Mumbai,Near Andheri East Stati...","North Indian, Seafood","The Lalit Mumbai,Near Andheri East Station, An...",4.1,https://im1.dineout.co.in/images/uploads/resta...
16,"CitrusNear Andheri East Station, Andheri East","Maharashtrian, Continental, Asian, Italian, No...","Near Andheri East Station, Andheri East",4.3,https://im1.dineout.co.in/images/uploads/resta...
17,"BanjaraGoldfinch Hotel,M.I.D.C, Andheri East","North Indian, Asian, South Indian, Continental","Goldfinch Hotel,M.I.D.C, Andheri East",3.9,https://im1.dineout.co.in/images/uploads/resta...
18,"The Great WallThe Leela Hotel,Near Andheri Eas...","Chinese, Seafood","The Leela Hotel,Near Andheri East Station, And...",4.2,https://im1.dineout.co.in/images/uploads/resta...
19,"The BrasserieHilton Hotels and Resorts,Sahar A...","North Indian, Italian, Continental, Asian","Hilton Hotels and Resorts,Sahar Airport Road, ...",4.2,https://im1.dineout.co.in/images/uploads/resta...
20,"TrendzThe Lalit Mumbai,Near Andheri East Stati...","Italian, Fast Food","The Lalit Mumbai,Near Andheri East Station, An...",3.6,https://im1.dineout.co.in/images/uploads/resta...

## 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [18]:
def tshirts(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    names_and_details = [i.text for i in bs.find_all('div', class_='productCardDetail')]
    new_names = []
    for i in names_and_details:
        k = i.split()
        new_names.append(k[:-3])
    names = []
    for i in new_names:
        listToStr = ' '.join([str(elem) for elem in i])
        names.append(listToStr.replace('₹',''))
    price = [i.text.replace('₹ ','') for i in bs.find_all('span', class_='discountedPriceText')]
    images = [i['src'] for i in bs.find_all('img', class_='productImgTag')]
    return {'Product Name':names[:10], 'Price':price[:10], 'Image URL':images[:10]}

df = pd.DataFrame(tshirts('https://www.bewakoof.com/women-t-shirts?sort=new'))
df

,Product Name,Price,Image URL
0,Women's Purple Be The Energy Typography Oversi...,349,https://images.bewakoof.com/t320/good-energy-o...
1,Women's White Be The Energy Typography Boyfrie...,299,https://images.bewakoof.com/t320/good-energy-b...
2,Women's Pink Badass Graphic Printed Oversized ...,349,https://images.bewakoof.com/t320/badass-oversi...
3,Women's Green Badass Graphic Printed Oversized...,349,https://images.bewakoof.com/t320/badass-oversi...
4,Women's Mint Stay Hydrated Back Graphic Printe...,349,https://images.bewakoof.com/t320/stay-hydrated...
5,Women's Black Stay Hydrated Back Graphic Print...,349,https://images.bewakoof.com/t320/stay-hydrated...
6,Too Aww Some Premium Cotton T Shirt,649,https://images.bewakoof.com/t320/wtfunk-too-aw...
7,Ew People Premium Cotton T Shirt,649,https://images.bewakoof.com/t320/wtfunk-ew-peo...
8,Sweet Love Premium Cotton T Shirt,549,https://images.bewakoof.com/t320/wtfunk-sweet-...
9,Bts Love Yourself Premium Cotton T Shirt,549,https://images.bewakoof.com/t320/wtfunk-bts-lo...