## 1) Write a python program to display all the header tags from wikipedia.org .

In [9]:
from bs4 import BeautifulSoup
import requests

def headers(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content)
    titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
    print('Display all the header tags:', *titles, sep='\n')
    
headers('https://en.wikipedia.org/wiki/Main_Page')

Display all the header tags:
<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>
<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3>
<label for="searchInput">Search</label>
</h3>

In [10]:
#with header text only
def headers(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content)
    titles = (i.text for i in bs.find_all(['h1', 'h2','h3','h4','h5','h6']))
    print('Display all the header tags:', *titles, sep='\n')
    
headers('https://en.wikipedia.org/wiki/Main_Page')

Display all the header tags:
Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
From today's featured list
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Search

## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [146]:
import pandas as pd

def imdb(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    movies = [i.text.replace('\n','').strip() for i in bs.find_all('td', class_="titleColumn")]
    ratings = [i.text.replace('\n','') for i in bs.find_all('td', class_="ratingColumn imdbRating")]
    df = pd.DataFrame({'Rank, Title and Year': movies[0:100], 'Rating':ratings[0:100]})
    df.index += 1
    print(df)

imdb('https://www.imdb.com/chart/top/')

                                  Rank, Title and Year Rating
1               1.      The Shawshank Redemption(1994)    9.2
2                          2.      The Godfather(1972)    9.2
3                        3.      The Dark Knight(2008)    9.0
4                 4.      The Godfather: Part II(1974)    9.0
5                           5.      12 Angry Men(1957)    8.9
..                                                 ...    ...
96    96.      M - Eine Stadt sucht einen Mörder(1931)    8.3
97                   97.      North by Northwest(1959)    8.3
98                               98.      Jagten(2012)    8.3
99                              99.      Vertigo(1958)    8.2
100  100.      Le fabuleux destin d'Amélie Poulain(...    8.2

[100 rows x 2 columns]

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [181]:
imdb('https://www.imdb.com/india/top-rated-indian-movies/')

                   Rank, Title and Year Rating
1        1.      K.G.F: Chapter 2(2022)    8.5
2              2.      Anbe Sivam(2003)    8.4
3                3.      Jai Bhim(2021)    8.4
4                 4.      Golmaal(1979)    8.4
5                 5.      Nayakan(1987)    8.4
..                                  ...    ...
96                96.      Baasha(1995)    8.0
97                97.      Masaan(2015)    8.0
98        98.      Dil Chahta Hai(2001)    8.0
99               99.      Kahaani(2012)    8.0
100  100.      Nil Battey Sannata(2015)    8.0

[100 rows x 2 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [144]:
def products(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    product_names = [i.text for i in bs.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")]
    prices = [int(i.text.replace('₹','')) for i in bs.find_all('h5', class_="Text__StyledText-sc-oo0kvp-0 hiHdyy")]
    discounts = [i.text for i in bs.find_all('span', class_="Text__StyledText-sc-oo0kvp-0 lnonyH")]
    df = pd.DataFrame({'Product Name':product_names, 'Price':prices, 'Discount':discounts})
    df.index += 1
    print(df)
    
products('https://meesho.com/bags-ladies/pl/p7vbp')

                            Product Name  Price Discount
1      Classic Attractive Women Handbags    620   7% off
2      Ravishing Alluring Women Handbags    384  12% off
3          Graceful Fancy Women Handbags    528   9% off
4        Ravishing Classy Women Handbags    950   5% off
5       Classic Versatile Women Handbags    950   5% off
6       Trendy Attractive Women Handbags   1019   5% off
7           Voguish Fancy Women Handbags   1549   3% off
8     Graceful Attractive Women Handbags    468  10% off
9      Graceful Versatile Women Handbags    950   5% off
10       Ravishing Classy Women Handbags   1296   4% off
11        Classic Stylish Women Handbags   3202   2% off
12    Gorgeous Attractive Women Handbags   1235   4% off
13  Ravishing Fashionable Women Handbags    316  14% off
14         Elegant Classy Women Handbags    950   5% off
15       Elegant Alluring Women Handbags   2337   2% off
16    Graceful Attractive Women Handbags    550   8% off
17       Classic Alluring Women Handbags    518   9% off
18    Elegant Fashionable Women Handbags    725   6% off
19        Trendy Alluring Women Handbags   1320   4% off
20        Trendy Alluring Women Handbags    950   5% off

## 5) Write a python program to scrape cricket rankings from icc-cricket.com.

You have to scrape:
1) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

2) Top 10 ODI Batsmen along with the records of their team and rating.

3) Top 10 ODI bowlers along with the records of their team and rating.

In [163]:
def odi_teams(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    teams = [i.text for i in bs.find_all('span', class_="u-hide-phablet")]
    matches_and_points = []
    for i in bs.find_all('td', class_='table-body__cell u-center-text'):
        matches_and_points.append(i.text)
    matches = [matches_and_points[i] for i in range(len(matches_and_points)) if i % 2 == 0]
    matches.insert(0, bs.find('td', class_="rankings-block__banner--matches").text)
    points = [matches_and_points[i] for i in range(len(matches_and_points)) if i % 2 != 0]
    points.insert(0, bs.find('td', class_="rankings-block__banner--points").text.replace('\n\n',''))
    rating = [i.text for i in bs.find_all('td', class_="table-body__cell u-text-right rating")]
    rating.insert(0, bs.find('td', class_='rankings-block__banner--rating u-text-right').text.strip())
    df = pd.DataFrame({'Team':teams[:10],'Matches':matches[:10],'Points':points[:10],'Rating':rating[:10]})
    df.index += 1
    print(df)

odi_teams('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

            Team Matches Points Rating
1    New Zealand      20  2,448    122
2        England      32  3,793    119
3      Australia      31  3,475    112
4          India      38  4,162    110
5   South Africa      31  3,167    102
6       Pakistan      30  2,921     97
7     Bangladesh      36  3,350     93
8      Sri Lanka      35  2,835     81
9    West Indies      36  2,788     77
10   Afghanistan      23  1,562     68

In [184]:
def odi_batting(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    players = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell name")]
    players.insert(0, bs.find('div', class_="rankings-block__banner--name").text)
    teams = [i.text.strip() for i in bs.find_all('span', class_="table-body__logo-text")]
    teams.insert(0, bs.find('div', class_="rankings-block__banner--nationality").text.strip().replace('\n891','').replace('\n785',''))
    rating = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell u-text-right rating")]
    rating.insert(0, bs.find('div', class_="rankings-block__banner--nationality").text.strip().replace('PAK\n','').replace('AUS\n',''))
    df = pd.DataFrame({'Player':players[:10],'Team':teams[:10],'Rating':rating[:10]})
    df.index += 1
    print(df)
    
odi_batting('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

                   Player Team Rating
1              Babar Azam  PAK    891
2             Virat Kohli  IND    811
3             Imam-ul-Haq  PAK    795
4            Rohit Sharma  IND    791
5         Quinton de Kock   SA    789
6          Jonny Bairstow  ENG    775
7             Ross Taylor   NZ    775
8   Rassie van der Dussen   SA    769
9            David Warner  AUS    750
10            Aaron Finch  AUS    745

In [187]:
def odi_bowling(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    all_players = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell name")]
    bowlers = [i for i in all_players[9:18]]
    header_names = [i.text.strip() for i in bs.find_all('div', class_="rankings-block__banner--name")]
    bowlers.insert(0, header_names[1])
    all_teams = [i.text.strip() for i in bs.find_all('span', class_="table-body__logo-text")]
    teams = [i for i in all_teams[9:18]]
    header_info = [i.text.strip() for i in bs.find_all('div', class_="rankings-block__banner--nationality")]
    teams.insert(0, header_info[1].replace('\n726','').replace('\n771',''))
    all_rating = [i.text.strip() for i in bs.find_all('td', class_="table-body__cell u-text-right rating")]
    rating = [i for i in all_rating[9:18]]
    header_rating_info = [i.text.strip() for i in bs.find_all('div', class_="rankings-block__banner--rating")]
    rating.insert(0, header_rating_info[1])
    df = pd.DataFrame({'Player':bowlers,'Team':teams,'Rating':rating})
    df.index += 1
    print(df)
    
odi_bowling('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

              Player Team Rating
1        Trent Boult   NZ    726
2       Chris Woakes  ENG    700
3     Josh Hazlewood  AUS    698
4         Matt Henry   NZ    683
5   Mujeeb Ur Rahman  AFG    681
6     Jasprit Bumrah  IND    679
7     Shaheen Afridi  PAK    671
8       Mehedi Hasan  BAN    661
9    Shakib Al Hasan  BAN    657
10       Rashid Khan  AFG    650

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
1) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

2) Top 10 women’s ODI Batting players along with the records of their team and rating.

3) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [180]:
odi_teams('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

            Team Matches Points Rating
1      Australia      29  4,840    167
2   South Africa      28  3,504    125
3        England      30  3,533    118
4          India      29  2,878     99
5    New Zealand      31  3,030     98
6    West Indies      28  2,481     89
7     Bangladesh      12    936     78
8       Pakistan      26  1,752     67
9        Ireland       5    240     48
10     Sri Lanka       5    233     47

In [185]:
odi_batting('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

               Player Team Rating
1        Alyssa Healy  AUS    785
2      Natalie Sciver  ENG    750
3         Beth Mooney  AUS    748
4     Laura Wolvaardt   SA    722
5         Meg Lanning  AUS    710
6      Rachael Haynes  AUS    701
7         Mithali Raj  IND    686
8   Amy Satterthwaite   NZ    681
9     Smriti Mandhana  IND    669
10     Tammy Beaumont  ENG    659

In [188]:
odi_bowling('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

               Player Team Rating
1   Sophie Ecclestone  ENG    771
2      Shabnim Ismail   SA    732
3       Jess Jonassen  AUS    725
4        Megan Schutt  AUS    722
5      Jhulan Goswami  IND    663
6      Marizanne Kapp   SA    662
7      Ayabonga Khaka   SA    635
8      Anya Shrubsole  ENG    629
9          Kate Cross  ENG    617
10    Hayley Matthews   WI    612

## 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [220]:
def coreyms(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    headings = [i.text for i in bs.find_all('h2', class_='entry-title')]
    headings.pop(4)
    date = [i.text for i in bs.find_all('time', class_='entry-time')]
    date.pop(4)
    content = [i.text.strip() for i in bs.find_all('div', class_='entry-content')]
    content.pop(4)
    iframes = bs.find_all('iframe')
    video_links = []
    for iframe in iframes:
        src=iframe['src']
        video_links.append(src)
    df = pd.DataFrame({'Heading':headings, 'Date':date, 'Content':content, 'Link':video_links})
    df.index += 1
    print(df)
coreyms('https://coreyms.com/')

                                             Heading                Date  \
1  Python Tutorial: Zip Files – Creating and Extr...   November 19, 2019
2  Python Data Science Tutorial: Analyzing the 20...    October 17, 2019
3  Python Multiprocessing Tutorial: Run Code in P...  September 21, 2019
4  Python Threading Tutorial: Run Code Concurrent...  September 12, 2019
5  Python Quick Tip: The Difference Between “==” ...      August 6, 2019
6  Python Tutorial: Calling External Commands Usi...       July 24, 2019
7  Visual Studio Code (Windows) – Setting up a Py...         May 1, 2019
8  Visual Studio Code (Mac) – Setting up a Python...         May 1, 2019
9  Clarifying the Issues with Mutable Default Arg...      April 24, 2019

                                             Content  \
1  In this video, we will be learning how to crea...
2  In this Python Programming video, we will be l...
3  In this Python Programming video, we will be l...
4  In this Python Programming video, we will be l...
5  In this Python Programming Tutorial, we will b...
6  In this Python Programming Tutorial, we will b...
7  In this Python Programming Tutorial, we will b...
8  In this Python Programming Tutorial, we will b...
9  In this Python Programming Tutorial, we will b...

                                                Link
1  https://www.youtube.com/embed/z0gguhEmWiY?vers...
2  https://www.youtube.com/embed/_P7X8tMplsw?vers...
3  https://www.youtube.com/embed/fKl2JW_qrso?vers...
4  https://www.youtube.com/embed/IEEhzQoKtQU?vers...
5  https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6  https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7  https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8  https://www.youtube.com/embed/06I63_p-2A4?vers...
9  https://www.youtube.com/embed/_JGmemuINww?vers...

## 8) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [243]:
def houses(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    headings = [i.text for i in bs.find_all('span', class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full')]
    locations = [i.text for i in bs.find_all('div', class_='mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95')]
    area_and_emi = [i.text for i in bs.find_all('div', class_='flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1')]
    area = [area_and_emi[i].replace('Builtup','') for i in range(len(area_and_emi)) if i % 2 == 0]
    emi = [area_and_emi[i].replace('Estimated EMI','') for i in range(len(area_and_emi)) if i % 2 != 0]
    price = [i.text for i in bs.find_all('div', class_='flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0')]
    df = pd.DataFrame({'House title':headings, 'Location':locations, 'Area':area, 'EMI':emi, 'Price':price})
    df.index += 1
    print(df)
    
houses('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar')

                                          House title  \
1   4 BHK In Independent House  For Sale  In Jayan...
2   3 BHK Flat  For Sale  In Shree Rameshwara Nila...
3   2 BHK Apartment  For Sale  In Emerald Nest In ...
4   4+ BHK In Independent House  For Sale  In Raja...
5   2 BHK Flat  For Sale  In Pallava Terrace In Ja...
6   3 BHK Apartment  For Sale  In Admiralty Manor,...
7   3 BHK Apartment  For Sale  In Laa Royal Manor ...
8   2 BHK Apartment  For Sale  In Tarang Parkway A...
9   4+ BHK In Independent House  For Sale  In Raja...
10  4 BHK In Independent House  For Sale  In Indir...
11  3 BHK Apartment  For Sale  In Brigade Gateway ...
12  3 BHK Flat  For Sale  In Benaka Apartments In ...
13  3 BHK Flat  For Sale  In Hal 2nd Stage,indiran...
14  2 BHK Flat  For Sale  In Jains Prakruti, Jayan...
15  2 BHK Apartment  For Sale  In Blueberry Apartm...
16  4+ BHK In Independent House  For Sale  In Laks...
17  2 BHK Apartment  For Sale  In Jains Prakriti I...
18  4+ BHK In Independent House  For Sale  In Raja...
19  3 BHK Apartment  For Sale  In Adarsh Court Apa...
20  3 BHK Apartment  For Sale  In Parasmani Regenc...
21  2 BHK Flat  For Sale  In Kumar Ashraya Apartme...
22              3 BHK Flat  For Sale  In Rajaji Nagar
23  3 BHK Apartment  For Sale  In Mayitri Enclave ...
24  2 BHK Flat  For Sale  In Jayanagar Residency I...
25  4 BHK Flat  For Sale  In Rrbc Piccassso In Jay...

                                             Location        Area  \
1   Independent House, SBI Branch Jayanagar 9th bl...  1,335 sqft
2               manjunath road near The illusion Cafe  1,200 sqft
3   Emerald Nest  202, 10th Cross Rd, HAL 2nd Stag...  1,100 sqft
4   Independent House, 5th Block, near National Pu...  3,000 sqft
5   17, Pallava Terrace, North Main Road, 6th Bloc...  1,065 sqft
6   Admiralty Manor, Indiranagar  Admiralty Manor,...  1,960 sqft
7   Laa Royal Manor  11th Cross Rd, 8th cross, HAL...  2,110 sqft
8   Tarang Parkway Apartment  2nd Main Rd, Shivana...  1,200 sqft
9   Independent House,  6th Cross road,9th main ro...  1,320 sqft
10            Independent House, 2nd stage ,9th cross  2,550 sqft
11  Brigade Gateway  Dr Rajkumar Road, Rajaji Naga...  1,640 sqft
12  871, 5th Cross Rd, Indira Nagar 1st Stage, Sta...  1,331 sqft
13  Standalone building, 16th F main, Hal 2nd stag...  2,200 sqft
14  Kanakapura Road, Jayanagar, Bangalore, Karnata...  1,301 sqft
15  Blueberry Apartment  13th E Main Rd, Channakes...  1,074 sqft
16        Independent House, CMH Rd , Near B P Bakery  2,250 sqft
17  Jains Prakriti   Kanakapura Rd, 7th Block West...  1,298 sqft
18  Independent House, 6th C cross 3rd main rd nea...  2,200 sqft
19  Adarsh Court Apartment  Adarsh Court Apartment...  1,990 sqft
20  Parasmani Regency  Parasmani Regency, 8th Cros...  1,940 sqft
21   Kumar Ashraya Apartments 194, 9th Cross Rd 2n...    900 sqft
22  Independent House, 242, 27th cross, 2nd Block,...  1,275 sqft
23  Mayitri Enclave  Mayitri Enclave, 39th C, 5T B...  1,450 sqft
24  Jayanagar Residency, K V Layout, LIC Colony, J...  1,200 sqft
25  Municipal No.152, 18th main road, beside Sai B...  4,859 sqft

                 EMI                           Price
1   ₹1.55 Lacs/Month   ₹2.7 Crores₹20,225 per sq.ft.
2      ₹63,045/Month    ₹1.1 Crores₹9,167 per sq.ft.
3      ₹50,436/Month       ₹88 Lacs₹8,000 per sq.ft.
4   ₹1.86 Lacs/Month  ₹3.25 Crores₹10,833 per sq.ft.
5      ₹42,985/Month       ₹75 Lacs₹7,042 per sq.ft.
6      ₹91,703/Month    ₹1.6 Crores₹8,163 per sq.ft.
7   ₹1.58 Lacs/Month  ₹2.75 Crores₹13,033 per sq.ft.
8      ₹57,314/Month       ₹1 Crore₹8,333 per sq.ft.
9      ₹63,045/Month    ₹1.1 Crores₹8,333 per sq.ft.
10  ₹1.69 Lacs/Month  ₹2.95 Crores₹11,569 per sq.ft.
11   ₹1.5 Lacs/Month  ₹2.62 Crores₹16,000 per sq.ft.
12     ₹48,717/Month       ₹85 Lacs₹6,386 per sq.ft.
13  ₹1.83 Lacs/Month   ₹3.2 Crores₹14,545 per sq.ft.
14     ₹85,971/Month   ₹1.5 Crores₹11,530 per sq.ft.
15     ₹87,691/Month  ₹1.53 Crores₹14,246 per sq.ft.
16     ₹63,045/Month    ₹1.1 Crores₹4,889 per sq.ft.
17  ₹1.15 Lacs/Month     ₹2 Crores₹15,408 per sq.ft.
18     ₹77,374/Month   ₹1.35 Crores₹6,136 per sq.ft.
19  ₹1.86 Lacs/Month  ₹3.25 Crores₹16,332 per sq.ft.
20  ₹1.43 Lacs/Month   ₹2.5 Crores₹12,887 per sq.ft.
21     ₹37,827/Month       ₹66 Lacs₹7,333 per sq.ft.
22     ₹77,374/Month  ₹1.35 Crores₹10,588 per sq.ft.
23     ₹44,705/Month       ₹78 Lacs₹5,379 per sq.ft.
24     ₹57,314/Month       ₹1 Crore₹8,333 per sq.ft.
25  ₹3.91 Lacs/Month  ₹6.83 Crores₹14,056 per sq.ft.

## 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [297]:
def restaurant(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    names = [i.text for i in bs.find_all('div', class_='restnt-info cursor')]
    cuisines_and_prices = [i.text for i in bs.find_all('span', class_='double-line-ellipsis')]
    cuisines_split = []
    for i in cuisines_and_prices:
        k = i.split()
        cuisines_split.append(k[6:])
    cuisines = []
    for i in cuisines_split:
        listToStr = ' '.join([str(elem) for elem in i])
        cuisines.append(listToStr)
    location = [i.text for i in bs.find_all('div', class_='restnt-loc ellipsis')]
    rating = [i.text for i in bs.find_all('div', class_='restnt-rating rating-5')]
    for i in bs.find_all('div', class_='restnt-rating rating-4'):
        rating.append(i.text)
    images = [i['data-src'] for i in bs.find_all('img', class_='no-img')]
    df = pd.DataFrame({'Restaurant Name':names, 'Cuisine':cuisines, 'Location':location, 'Ratings':rating, 'Image URL':images})
    df.index += 1
    print(df)
    
restaurant('https://www.dineout.co.in/mumbai-restaurants/5-star')

                                      Restaurant Name  \
1   JW CafeJW Marriott Mumbai Sahar,Near Andheri E...
2   SaptamiHoliday Inn Mumbai International Airpor...
3   Lake View CafeThe Westin Mumbai Powai Lake,Pow...
4   72 Lounge Bar - Holiday InnHoliday Inn Mumbai ...
5   Nawab SahebThe Westin Mumbai Powai Lake,Powai,...
6   Romano'sJW Marriott Mumbai Sahar,Near Andheri ...
7   All Stir Fry - Waterstones HotelWaterstones Ho...
8   JW Baking CompanySahar Airport Road, Andheri East
9   JW LoungeJW Marriott Mumbai Sahar,Near Andheri...
10  JamavarThe Leela Hotel,Near Andheri East Stati...
11  On the Rocks- Waterstones HotelWaterstones Hot...
12  Six DegreesThe Leela Hotel,Near Andheri East S...
13  BaluchiThe Lalit Mumbai,Near Andheri East Stat...
14  Le Cirque SignatureThe Leela Hotel,Near Andher...
15  24/7The Lalit Mumbai,Near Andheri East Station...
16      CitrusNear Andheri East Station, Andheri East
17  BelugaThe Lalit Mumbai,Near Andheri East Stati...
18       BanjaraGoldfinch Hotel,M.I.D.C, Andheri East
19  The Great WallThe Leela Hotel,Near Andheri Eas...
20  The BrasserieHilton Hotels and Resorts,Sahar A...
21  TrendzThe Lalit Mumbai,Near Andheri East Stati...

                                              Cuisine  \
1                      North Indian, Asian, Fast Food
2                    North Indian, Continental, Asian
3                      North Indian, Chinese, Italian
4                              Finger Food, Fast Food
5                               North Indian, Mughlai
6                                             Italian
7                            Asian, Chinese, Japanese
8                                            Desserts
9                                Continental, Italian
10                     North Indian, Mughlai, Seafood
11                  Finger Food, Chinese, Continental
12                  Finger Food, Continental, Italian
13                      Awadhi, North Indian, Mughlai
14                                    French, Italian
15             European, Italian, North Indian, Asian
16  Maharashtrian, Continental, Asian, Italian, No...
17                              North Indian, Seafood
18     North Indian, Asian, South Indian, Continental
19                                   Chinese, Seafood
20          North Indian, Italian, Continental, Asian
21                                 Italian, Fast Food

                                             Location Ratings  \
1   JW Marriott Mumbai Sahar,Near Andheri East Sta...     4.6
2   Holiday Inn Mumbai International Airport,Near ...     4.5
3           The Westin Mumbai Powai Lake,Powai, Powai       5
4   Holiday Inn Mumbai International Airport,Near ...     4.5
5           The Westin Mumbai Powai Lake,Powai, Powai     4.5
6   JW Marriott Mumbai Sahar,Near Andheri East Sta...     4.9
7               Waterstones Hotel,Marol, Andheri East     4.9
8                    Sahar Airport Road, Andheri East     4.4
9   JW Marriott Mumbai Sahar,Near Andheri East Sta...     4.3
10  The Leela Hotel,Near Andheri East Station, And...     4.3
11              Waterstones Hotel,Marol, Andheri East     4.3
12  The Leela Hotel,Near Andheri East Station, And...     4.3
13  The Lalit Mumbai,Near Andheri East Station, An...     4.3
14  The Leela Hotel,Near Andheri East Station, And...     4.4
15  The Lalit Mumbai,Near Andheri East Station, An...     4.3
16            Near Andheri East Station, Andheri East     4.3
17  The Lalit Mumbai,Near Andheri East Station, An...     4.1
18              Goldfinch Hotel,M.I.D.C, Andheri East     3.9
19  The Leela Hotel,Near Andheri East Station, And...     4.2
20  Hilton Hotels and Resorts,Sahar Airport Road, ...     4.2
21  The Lalit Mumbai,Near Andheri East Station, An...     3.6

                                            Image URL
1   https://im1.dineout.co.in/images/uploads/resta...
2   https://im1.dineout.co.in/images/uploads/resta...
3   https://im1.dineout.co.in/images/uploads/resta...
4   https://im1.dineout.co.in/images/uploads/resta...
5   https://im1.dineout.co.in/images/uploads/resta...
6   https://im1.dineout.co.in/images/uploads/resta...
7   https://im1.dineout.co.in/images/uploads/resta...
8   https://im1.dineout.co.in/images/uploads/resta...
9   https://im1.dineout.co.in/images/uploads/resta...
10  https://im1.dineout.co.in/images/uploads/resta...
11  https://im1.dineout.co.in/images/uploads/resta...
12  https://im1.dineout.co.in/images/uploads/resta...
13  https://im1.dineout.co.in/images/uploads/resta...
14  https://im1.dineout.co.in/images/uploads/resta...
15  https://im1.dineout.co.in/images/uploads/resta...
16  https://im1.dineout.co.in/images/uploads/resta...
17  https://im1.dineout.co.in/images/uploads/resta...
18  https://im1.dineout.co.in/images/uploads/resta...
19  https://im1.dineout.co.in/images/uploads/resta...
20  https://im1.dineout.co.in/images/uploads/resta...
21  https://im1.dineout.co.in/images/uploads/resta...

## 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [322]:
def tshirts(url):
    html = requests.get(url)
    bs = BeautifulSoup(html.content, 'html.parser')
    names_and_details = [i.text for i in bs.find_all('div', class_='productCardDetail')]
    new_names = []
    for i in names_and_details:
        k = i.split()
        new_names.append(k[:-3])
    names = []
    for i in new_names:
        listToStr = ' '.join([str(elem) for elem in i])
        names.append(listToStr.replace('₹',''))
    price = [i.text.replace('₹ ','') for i in bs.find_all('span', class_='discountedPriceText')]
    images = [i['src'] for i in bs.find_all('img', class_='productImgTag')]
    df = pd.DataFrame({'Product Name':names[:10], 'Price':price[:10], 'Image URL':images[:10]})
    df.index += 1
    print(df)

tshirts('https://www.bewakoof.com/women-t-shirts?sort=new')

                                         Product Name Price  \
1   Women's Black Moon Child Graphic Printed Boyfr...   299
2   Women's Red Moon Child Graphic Printed Boyfrie...   299
3   Women's Yellow I Make the Rules Boyfriend T-shirt   299
4    Women's White I Make the Rules Boyfriend T-shirt   299
5   Women's Black No Limit Typography Oversized T-...   349
6   Women's Yellow Vacation Chahiye Graphic Printe...   299
7   Women's White Vacation Chahiye Graphic Printed...   299
8   Women's Black Coca - Cola Basic Logo Printed B...   599
9   Women's Red It's The Real Thing Back Printed T...   499
10  Women's Black Coca - Cola Hyper Logo Printed B...   499

                                            Image URL
1   https://images.bewakoof.com/t320/moon-child-bo...
2   https://images.bewakoof.com/t320/moon-child-bo...
3   https://images.bewakoof.com/t320/i-make-the-ru...
4   https://images.bewakoof.com/t320/i-make-the-ru...
5   https://images.bewakoof.com/t320/no-limit-over...
6   https://images.bewakoof.com/t320/vacation-chah...
7   https://images.bewakoof.com/t320/vacation-chah...
8   https://images.bewakoof.com/t320/bewakoof-wome...
9   https://images.bewakoof.com/t320/bewakoof-wome...
10  https://images.bewakoof.com/t320/bewakoof-wome...